<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.com.vaipo" >
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAPTURE_AUDIO_OUTPUT" />
    <uses-permission android:name="android.permission.CAPTURE_VIDEO_OUTPUT" />
    <uses-permission android:name="android.permission.CAPTURE_SECURE_VIDEO_OUTPUT" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />


    <application
        android:name=".appState.AppState"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:debuggable="true"
        android:configChanges="orientation"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".RegisterPhoneNumberActivity"
            android:launchMode="singleTask"
            android:icon="@drawable/ic_vaipo"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".VaipoView"
            android:icon="@drawable/ic_vaipo"
            android:configChanges="orientation"
            android:label="@string/app_name" >
        </activity>

        <activity android:name=".ActivityDialog"
                  android:icon="@drawable/ic_vaipo"
                  android:configChanges="orientation"
                  android:label= "vaipo"
                  android:theme="@android:style/Theme.Holo.Dialog" >
        </activity>

        <activity android:name=".InCallActivityDialog"
                  android:icon="@drawable/ic_vaipo"
                  android:configChanges="orientation"
                  android:label= "InCall Settings"
                  android:theme="@android:style/Theme.Holo.Dialog" >
        </activity>

        <activity android:name=".ActivityEnterCodeDialog"
                  android:icon="@drawable/ic_vaipo"
                  android:configChanges="orientation"
                  android:label= "@string/app_name"
                  android:theme="@android:style/Theme.Holo.Dialog" >
        </activity>
        <activity
            android:label="@string/app_name"
            android:icon="@drawable/ic_vaipo"
            android:configChanges="orientation"
            android:theme="@style/Theme.AppCompat.Light"
            android:name="com.codinguser.android.contactpicker.ContactsPickerActivity">
        </activity>
        <activity
            android:name=".UIActivity"
            android:icon="@drawable/ic_vaipo"
            android:label="@string/app_name"
            android:configChanges="orientation|keyboardHidden|screenSize" >
        </activity>

        <receiver android:name=".CallStateHandler">
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.NEW_OUTGOING_CALL" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </receiver>

        <service android:enabled="true" android:name=".BubbleVideoView"/>

    </application>

</manifest>
